{% extends 'base/base.html' %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-dark bg-light">
            <h6><i class="bi bi-cash-coin"></i> Request Partial Withdrawal</h6>
          </div>
      
          <div class="card-body">
            <!-- Account Summary -->
             <div class="bg-warning-subtle p-2">
              <h6 class="mb-0"><strong>Your Current Total Savings:</strong> ₦{{ total_savings|floatformat:2|default:'0.00' }}</h6>
            </div>
            <div class="bg-success-subtle p-2 mt-2">
            <h6><strong>The Max Amount You Can Withdraw is: </strong> ₦{{max_withdrawal}}</h6>
          </div> 
           

            <!-- Withdrawal Form -->
            <form method="post">
              {% csrf_token %}

              <div class="mb-3">
                <label for="amount" class="form-label">Amount to Withdraw <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter the Amount You Want to Withdrawal " required />

                {% comment %} <small class="text-muted">Maximum: ₦{{ total_savings|floatformat:2 }}</small> {% endcomment %}
              </div>

              <div class="mb-3">
                <label for="reason" class="form-label">Reason for Withdrawal</label>
                <textarea class="form-control" id="reason" name="reason" rows="4" placeholder=" Explain why you need this withdrawal" required></textarea>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg"><i class="bi bi-send"></i> Submit Request</button>
                <a href="{% url 'my_partial_withdrawal_requests' %}" class="btn btn-secondary text-white"><i class="bi bi-arrow-left"></i> Back to My Requests</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
