{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<h5 class="mb-4">My Consumable Requests</h5>
<a href="{% url 'request_consumable' %}" class="btn btn-primary ">Make Now  Request</a>
{% comment %} <div class="alert alert-info">
    <strong>Total Remaining Balance:</strong> ₦{{ total_remaining|floatformat:2 }}
</div> {% endcomment %}
<div class="content-card mt-4 shadow">
    {% if consumable_data %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle mt-2">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Date Created</th>
                        <th>Approved Amount (₦)</th>
                        <th>Total Paid (₦)</th>
                        <th>Balance (₦)</th>
                        <th>Monthly Payment (₦)</th>
                        <th>Items</th>
                        <th>Acction</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in consumable_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.consumable.date_created|date:"M d, Y" }}</td>
                        <td>₦{{ data.approved_amount|floatformat:2 }}</td>
                        <td>₦{{ data.total_paid|floatformat:2 }}</td>
                        <td>₦{{ data.balance|floatformat:2 }}</td>
                        <td>₦{{ data.monthly_payment|floatformat:2 }}</td>
                        <td>
                            {% if data.consumable.details.exists %}
                                <ul class="list-unstyled mb-0">
                                    {% for detail in data.consumable.details.all %}
                                        <li>{{ detail.item.title }} (Qty: {{ detail.quantity }})</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <em>No items</em>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'request_detail' data.consumable.id %}" class="btn btn-info btn-sm">View</a>
                            <a href="{% url 'cancel_consumable_request' data.consumable.id %}" class="btn btn-danger btn-sm">Cancel</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning text-center fs-5">
            You have no consumable requests yet.
        </div>
    {% endif %}
</div>
</div>
{% endblock %}