{% extends 'base/base.html' %}

{% block content %}
<style>
    .card-header{
        background: linear-gradient(135deg, #36a2baff, #2c8fabff);
        color: white;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 500;
        padding: 1rem 1rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .btn-primary{
      background: linear-gradient(135deg, #36a2baff, #2c8fabff);
    }
</style>

 <div class="content-card p-4 shadow mt-5">
   
        <div class="card-header">
            <h6 class="text-center text-white">Deduct Monthly Admin Fee</h6>
        </div>
       
            <form method="post" action="{% url 'deduct_interest' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="month" class="form-label">Select Month:</label>
                    <input type="month" class="form-control" id="month" name="month" required>
                </div>
                <div class="mb-3">
                    <label for="deduction_amount" class="form-label">Amount to Deduct (₦):</label>
                    <input type="number" class="form-control" id="deduction_amount" name="deduction_amount" placeholder="Enter Amount" step="0.01" required>
                </div>
                <button type="submit" class="btn btn-primary">Deduct</button>
            </form>
    
</div>

{% endblock content %}
