{% extends 'base/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="card-header d-flex justify-content-center align-items-center">
        <h6 class="card-title mb-0 fs-4">User Activity Logs</h6>
    </div>
     <h6 >Recent actions</h6>
    <div class="table-responsive mt-3">
        <table class="table ">
            <thead class="table">
                <tr>
                    <th>S/N</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Path</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
              {% for activity in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ activity.user.get_full_name|default:activity.user.username }}</td>
                    <td>{{ activity.action }}</td>
                    <td>{{ activity.path }}</td>
                    <td>{{ activity.timestamp|naturaltime }}</td>

                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No activity found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination mt-3">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light">Next</a>
    {% endif %}
</div>
    </div>
</div>
{% endblock %}
