{% extends "base/base.html" %}
{% block content %}
<div class="content-card d-flex justify-content-center align-items-center mt-4">
    <div class="card col-md-6 shadow">
        <h3 class="card-title">Upload Opening Savings</h3>
        <div class="card-body">
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12 mb-3">
                    <label for="file" class="form-label">Select CSV File</label>
                 <input type="file" name="file" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Upload</button>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
