{% extends 'base/base.html' %}
{% block content %}
<h3>Edit Savings</h3>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Member:</label>
        <input type="text" class="form-control" value="{{ saving.member.member.first_name }} {{ saving.member.member.last_name }}" readonly>
    </div>
    <div class="mb-3">
        <label>IPPIS:</label>
        <input type="text" class="form-control" value="{{ saving.member.ippis }}" readonly>
    </div>
    <div class="mb-3">
        <label>Month:</label>
        <input type="text" class="form-control" value="{{ saving.month|date:'F Y' }}" readonly>
    </div>
    <div class="mb-3">
        <label>Original Amount:</label>
        <input type="number" step="0.01" name="month_saving" value="{{ saving.original_amount }}" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'list_savings' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
